torch
numpy
pandas
pillow
pyarrow
scikit-learn
tqdm
albumentations
torchsummary
torchvision
opencv-python
pyserial
mediapipe==0.10.13
imbalanced-learn
matplotlib
# picamera2 only on raspberry
# spidev only on raspberry